<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>290389871737-rl0llt8ql0ll4j37n1c1ro1ttiu4tmd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290389871737-rl0llt8ql0ll4j37n1c1ro1ttiu4tmd7</string>
	<key>API_KEY</key>
	<string>AIzaSyC_VEKexUG4mWf-Wqsbd27G_c990eyBDd8</string>
	<key>GCM_SENDER_ID</key>
	<string>290389871737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>go5.gariken</string>
	<key>PROJECT_ID</key>
	<string>go5test-bb56e</string>
	<key>STORAGE_BUCKET</key>
	<string>go5test-bb56e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:290389871737:ios:3731ad7537b5df27</string>
	<key>DATABASE_URL</key>
	<string>https://go5test-bb56e.firebaseio.com</string>
</dict>
</plist>